<h2><%= @kid.name %> <small class="text-muted">(<%= @kid.stage.name %>)</small></h2>
<p><a href="/kids/<%=@kid.id%>/edit">Edit <%= @kid.name %>'s Details</a></p>
<h3>Toys</h3>
  <% if @kid.toys.empty? %>
  <ul>
    <li>Looks like <%= @kid.name %>'s toybox is empty!</li>
  </ul>
  <% else %>
  <ul>
    <% @kid.toys.each do |toy| %>
      <li><a href="/toys/<%=toy.id%>"><%= toy.name %></a></li>
    <% end %>
  </ul>
  <% end %>
<br>
<br>
  <form method="post" action="/kids/<%=@kid.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Kid">
  </form>
