<h3><%= @kid.name %></h3>
<p><%= @kid.stage.name %></p>
<a href="/kids/<%=@kid.id%>/edit">Edit <%= @kid.name %>'s Details'</a>
<br>

<h3>Toys</h3>
  <% if @kid.toys.empty? %>
    <p>Looks like <%= @kid.name %>'s toybox is empty!</p>
  <% else %>
  <ul>
    <% @kid.toys.each do |toy| %>
      <li><a href="/toys/<%=toy.id%>"><%= toy.name %></a></li>
    <% end %>
  <% end %>
  <br>
  <a href="/toys/new"> Add a Damn Toy!</a>
</ul>
