<h2><%= @kid.name %></h2>
  <ul>
    <li><a href="/stage/<%=@kid.stage.id%>"><%= @kid.stage.name %></a></li>
  </ul>
<h3>Toys</h3>
  <% if @kid.toys.empty? %>
    <p>Looks like <%= @kid.name %>'s toybox is empty!</p>
  <% else %>
  <ul>
    <% @kid.toys.each do |toy| %>
      <li><a href="/toys/<%=toy.id%>"><%= toy.name %></a></li>
    <% end %>
  </ul>
  <% end %>
  <br>
  <a href="/kids/<%=@kid.id%>/edit">Edit <%= @kid.name %>'s Details</a>

  <form method="post" action="/kids/<%=@kid.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Kid">
  </form>
