<h1>Edit <%= @toy.name %>'s Details'</h1>
<form action="/toys/<%= @toy.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" id="toy[name]" value="<%= @toy.name %>">
  <label>Select all categories that apply to this toy:</label>
    <% @categories.each do |category| %>
      <label > <%= category.name %> </label>
      <input type="checkbox" id="<%= category.name %>" name="toy[category_ids][]" value="<%= category.id %>"<%='checked' if @toy.catagories.include?(category)>><br>
    <% end %>
  <br>
  <label>Select the stage that applies to this toy:</label>
    <% @stages.each do |stage| %>
      <label > <%= stage.name %> </label>
      <input type="radio" id="<%= stage.name %>" name="toy[stage_id]" value="<%= stage.id %>"<%='checked' if @toy.stage_id == stage.id %>><br>
    <% end %>
  <h3>Manufacturers</h3>
    <% if user_created_manufacturers.empty? %>
      <p><strong>No manufacturers have been added to your list.</strong></p>
    <% else %>
    <% user_created_manufacturers.each do |manufacturer| %>
      <input type="radio" name="toy[manufacturer_id]" id="<%= manufacturer.id %>" value="<%= manufacturer.id %>" <%='checked' if @toy.manufacturer_id == manufacturer.id %>>><%= manufacturer.name %><br>
    <% end %>
    <% end %>

  <label>New Manufacturer Name:</label>
    <input type="text" name="manufacturer[name]" id="manufacturer_name"></input>
    <br>

    <h3> Who's Damn Toy Is This?</h3>
    <% current_user.kids.each do |kid| %>
      <input type="radio" name="toy[kid_id]" id="<%= kid.id %>" value="<%= kid.id %>"><%= kid.name %><br>
    <% end %>

  <input type="submit" value="Save Changes">
</form>




<h3>Select all categories that apply to this toy:</h3>
  <% @categories.each do |category| %>
    <label > <%= category.name %> </label>
    <input type="checkbox" id="<%= category.name %>" name="toy[category_ids][]" value="<%= category.id %>"><br>
  <% end %>
<h3>Select the stage that applies to this toy:</h3>
  <% @stages.each do |stage| %>
    <label > <%= stage.name %> </label>
    <input type="radio" id="<%= stage.name %>" name="toy[stage_id]" value="<%= stage.id %>"><br>
  <% end %>

<h3>Manufacturers</h3>
<% if user_created_manufacturers.empty? %>
  <p><strong>No manufacturers have been added to your list.</strong></p>
<% else %>
<% user_created_manufacturers.each do |manufacturer| %>
  <input type="radio" name="toy[manufacturer_id]" id="<%= manufacturer.id %>" value="<%= manufacturer.id %>"><%= manufacturer.name %><br>
<% end %>
<% end %>

<label>New Manufacturer Name:</label>
<input type="text" name="manufacturer[name]" id="manufacturer_name"></input>
<br>

<h3> Who's Damn Toy Is This?</h3>
<% current_user.kids.each do |kid| %>
  <input type="radio" name="toy[kid_id]" id="<%= kid.id %>" value="<%= kid.id %>"><%= kid.name %><br>
<% end %>
