<h1>Add a Toy</h1>

<form action="/toys" method="POST">
  <label>Name of Toy: </label>
  <input type="text" name="toy[name]">
  <br>
  <h3>Select all categories that apply to this toy:</h3>
    <% @categories.each do |category| %>
      <label > <%= category.name %> </label>
      <input type="checkbox" id="<%= category.name %>" name="toy[category_ids][]" value="<%= category.id %>"><br>
    <% end %>

  <h3>Manufacturers</h3>
  <% if Manufacturer.user_created_manufacturers.empty? %>
    <p><strong>No manufacturers have been added to your list.</strong></p>
  <% else %>
  <% Manufacturer.user_created_manufacturers.each do |manufacturer| %>
    <input type="radio" name="toy[manufacturer_id]" id="<%= manufacturer.id %>" value="<%= manufacturer.id %>"><%= manufacturer.name %><br>
  <% end %>
  <% end %>

  <label>New Manufacturer Name:</label>
  <input type="text" name="manufacturer[name]" id="manufacturer_name"></input>
  <br>

  <h3> Who's Damn Toy Is This?</h3>
  <% current_user.kids.each do |kid| %>
    <input type="radio" name="toy[kid_id]" id="<%= kid.id %>" value="<%= kid.id %>"><%= kid.name %><br>
  <% end %>


  <input type="submit" value="Submit">
</form>
