<h3>Add a Toy!</h3>

<form action="/toys" method="POST">
  <strong><label for ="toy_name">Toy Name: </label></strong>
  <input type="text" id="toy_name" name="toy[name]">
  <br><br>
  <strong>Select all categories that apply to this toy:</strong><br>
    <% @categories.each do |category| %>
      <input type="checkbox" id="<%= category.name %>" name="toy[category_ids][]" value="<%= category.id %>">
      <label for="<%= category.name %>"> <%= category.name %> </label><br>
    <% end %>
    <p>
  <strong>Select the stage that applies to this toy:</strong><p>
    <% @stages.each do |stage| %>
      <input type="radio" id="<%= stage.name %>" name="toy[stage_id]" value="<%= stage.id %>">
      <label for="<%= stage.name %>"> <%= stage.name %> </label><br>
    <% end %>
    <P>
  <strong>Assign a kid's toybox</strong><p>
    <% current_user.kids.each do |kid| %>
      <input type="radio" name="toy[kid_id]" id="<%= kid.id %>" value="<%= kid.id %>">
      <label for="toy[kid_id]"><%= kid.name %></label><br>
      <% end %>
  <br>
  <input type="submit" value="Submit">
</form>
