<h3><%= @toy.name %></h3>

<% @toy.categories.each do |category| %>
 <a href="/categories/<%= category.id %>"><%= category.name %> </a><br>
<% end %><br>
  <a href="/kids/<%= @toy.kid.id %>">Belongs to <%= @toy.kid.name %> </a>
