<h3><%= @toy.name %></h3>
<strong>Belongs To:</strong>
<a href="/kids/<%= @toy.kid.id %>"><%= @toy.kid.name %>'s Toybox </a>
<br><br>
<ul class="list-inline">
<strong>Categories:</strong>
<% @toy.categories.each do |category| %>
  <li class="list-inline-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
<% end %>
</ul>

  <a href="/toys/<%=@toy.id%>/edit">Edit <%= @toy.name %>'s Details</a>
<p>
  <form method="post" action="/toys/<%=@toy.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Toy">
  </form>
