<h3><%= @toy.name %></h3>

<% @toy.categories.each do |category| %>
 <a href="/categories/<%= category.id %>"><%= category.name %> </a><br>
<% end %><br>
  <a href="/kids/<%= @toy.kid.id %>">Belongs to <%= @toy.kid.name %> </a>
<br>
  <a href="/toy/<%=@toy.id%>/edit">Edit <%= @toy.name %>'s Details</a>

  <form method="post" action="/toys/<%=@toy.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Toy">
  </form>
