<h2><%= @stage.name %></h2>
<h3>Toys</h3>
    <% if @user_toys_by_stage.empty? %>
    <p>Looks like you haven't registered any "<%= @stage.name.downcase %>" toys!</p>
    <% else %>
      <ul>
        <% @user_toys_by_stage.each do |toy| %>
        <li>
          <a href="/toys/<%= toy.id %>"><%= toy.name %></a> ||
          <a href="/kids/<%= toy.kid.id %>">Belong's to (<%= toy.kid.name %>)</a></li>
        <% end %>
      </ul>
<% end %>
<h3>Kids</h3>
    <% if @user_kids_by_stage.empty? %>
    <p>Looks like you don't have any "<%= @stage.name.downcase %>" kids!</p>
    <% else %>
      <ul>
        <% @user_kids_by_stage.each do |kid| %>
        <li>
          <a href="/kids/<%= toy.kid.id %>">(<%= toy.kid.name %>)</a></li>
        <% end %>
      </ul>


    @user_kids_by_stage = []
    @user_toys_by_stage = []
