<h3><%= @category.name %></h3>
    <% if @category.toys.empty? %>
    <p>Looks like you haven't registered any "<%= @category.name.downcase %>" toys!</p>
    <% else %>
      <ul>
        <% @category.toys.each do |toy| %>
        <li>
          <a href="/toys/<%= toy.id %>"><%= toy.name %></a> ||
          <a href="/kids/<%= toy.kid.id %>">(<%= toy.kid.name %>)</a></li>
    <% end %>
  </ul>
<% end %>
