<% if logged_in? %>
<h2><%= @category.name %></h2>
    <% if current_user.toys@category.toys.empty? %>
    <p>Looks like you haven't registered any "<%= @category.name.downcase %>" toys!</p>
    <% else %>
      <ul>
        <% @category.toys.each do |toy| %>
        <li>
          <a href="/toys/<%= toy.id %>"><%= toy.name %></a> ||
          <a href="/kids/<%= toy.kid.id %>">(<%= toy.kid.name %>)</a></li>
        <% end %>
      </ul>
<% end %>
<% else %>
<p>Please log in or signup below:</p>
  <a href="/signup">Sign Up</a>
  <a href="/login"> Log In </a>
<%end %>
