<!doctype html>
<html>
  <head>
    <title>Toy Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <% if logged_in? %>

      <a href="/toys/new"> New Toy </a> |
      <a href="/kids/new"> New Kid </a> |
      <a href="/categories"> Toy Categories </a> |
      <a href="/stages"> Development Stages </a> |
      <a href="/users/<%=current_user.id%>"> Account </a> |
      <a href="/logout"> Log Out </a>
        <p class="lead">Hang in there, <%=current_user.username %></p>

      <% else %>
        <a href="/signup">Sign Up</a> |
        <a href="/login"> Log In </a>
      <%end %>

    </nav>
    <div class="container">
      <h1>Toy Tracker</h1>
      <% if flash.has?(:message) %>
      <div class="alert message">
        <mark><%= flash[:message] %></mark>
      </div>
    <% end %>
    <% if !!flash.has?(:errors) %>
    <div class="error message">
      <% flash[:errors].each do |msg| %>
      <mark><%= msg %></mark><br>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
  
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
