<% if logged_in? %>
<h3><%= @manufacturer.name %></h3>
    <% if @manufacturer.toys.empty? %>
    <p>Looks like <%= @manufacturer.name %> doesn't have any associated toys!</p>
    <% else %>
      <ul>
        <% @manufacturer.toys.each do |toy| %>
        <li>
          <a href="/toys/<%= toy.id %>"><%= toy.name %></a>
          <a href="/kids/<%= toy.kid.id %>">Belongs to <%= @toy.kid.name %> </a></li>
            <ul><% toy.categories.each do |category| %>
              <li><a href="/categories/<%= category.id %>"><%= @toy.manufacturer.name %></a></li>
            </ul>
            <% end %>
    <% end %>
  </ul>
<% end %>
<% else %>
<p>Please log in or signup below:</p>
  <a href="/signup">Sign Up</a>
  <a href="/login"> Sign In </a>
<%end %>
